services:
  emby:
    image: emby/embyserver
    container_name: embyserver
    environment:
      - TZ=Europe/Bratislava
      - GIDLIST=44,993 # A comma-separated list of additional GIDs to run emby as (default: 2)
    volumes:
      - /mnt/shared_configs/emby/programdata:/config # Configuration directory
      - /mnt/media/tvshows:/mnt/tvshows # Media directory
      - /mnt/media/movies:/mnt/movies # Media directory
    ports:
      - 8099:8096 # HTTP port
      - 8920:8920 # HTTPS port
    devices:
      - /dev/dri:/dev/dri # VAAPI/NVDEC/NVENC render nodes
    restart: on-failure
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://emby.lan
      caddy.reverse_proxy: "{{upstreams 8096}}"
      dockflare.enable: true
      dockflare.hostname: emby.notavailable.uk
      dockflare.service: http://emby.lan
      dockflare.httpHostHeader: emby.lan
    networks:
      - arr_default
      - caddy
    # runtime: nvidia
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
              
  scheduled-restarts:
    image: docker:cli
    restart: unless-stopped
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
    entrypoint: ["/bin/sh","-c"]
    command:
      - |
        while true; do
          if [ "$$(date +'%H:%M')" = '04:00' ]; then
            docker restart embyserver
          fi
          sleep 60
        done
      
networks:
  arr_default:
    external: true      
  caddy:
    external: true