services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - /mnt/media/audiobooks:/audiobooks
      - /mnt/shared_configs/audiobookshelf/config:/config
      - /mnt/app_data/audiobookshelf/metadata:/metadata
    environment:
      - TZ=Europe/Bratislava
    restart: unless-stopped
    labels:
      autoheal: true
      caddy: http://audiobooks.lan, audiobooks.lacny.me
      caddy.reverse_proxy: "{{upstreams 80}}"
      dockflare.enable: true
      dockflare.hostname: audiobooks.notavailable.uk
      dockflare.service: audiobooks.lacny.me
      dockflare.httpHostHeader: audiobooks.lacny.me
      