services:
  loki:
    container_name: loki
    image: grafana/loki:latest
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - /mnt/shared_configs/grafana/loki-config.yml:/etc/loki/loki-config.yaml:ro
      - loki-data:/tmp/loki
    networks:
      - caddy
      - default
    labels:
      kuma.__docker: ""
      caddy: loki.lacny.me
      caddy.reverse_proxy: "{{upstreams 3100}}"

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: unless-stopped
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'
      - '--web.enable-remote-write-receiver'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    volumes:
      - /mnt/shared_configs/grafana/prometheus-config.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    networks:
      - caddy
      - default
    labels:
      kuma.__docker: ""
      caddy: prometheus.lacny.me
      caddy.reverse_proxy: "{{upstreams 9090}}" 

  grafana:
    restart: unless-stopped
    container_name: grafana
    labels:
      kuma.__docker: ""
      caddy: grafana.lacny.me
      caddy.reverse_proxy: "{{upstreams 3000}}"
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        - name: Prometheus
          type: prometheus
          access: proxy
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          isDefault: false
          version: 1
          editable: false
          jsonData:
            timeInterval: 30s
        EOF
        /run.sh
    image: grafana/grafana:latest
    networks:
      - caddy
      - default

networks:
  caddy:
    external: true

volumes:
  loki-data:
  prometheus-data:  