services:
  plex:
    image: plexinc/pms-docker
    container_name: plex
    restart: unless-stopped
    ports:
      - 32400:32400/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    environment:
      - TZ=Europe/Bratislava
      - PLEX_CLAIM=${PLEX_CLAIM}
      - ADVERTISE_IP=${PLEX_ADVERTISE_IPS}
    hostname: plex.lan
    volumes:
      - /mnt/app_data/plex/database:/config
      - /mnt/app_data/plex/transcode/temp:/transcode
      # - /mnt/oldmedia:/oldmedia
      - /mnt/media:/media
      - /mnt/media/movies:/movies
      - /mnt/media/tvshows:/tvshows
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://plex.lan, plex.lacny.me
      caddy.reverse_proxy: "{{upstreams 32400}}"
      caddy.reverse_proxy.header_up: -X-Forwarded-For
      dockflare.enable: true
      dockflare.hostname: plex.notavailable.uk
      dockflare.service: https://plex.lacny.me
      dockflare.httpHostHeader: plex.lacny.me      
    networks:
      - arr_default
      
networks:
  arr_default:
    external: true