name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - /mnt/immich:/usr/src/app/upload
      - /mnt/media/photos:/mnt/photos:ro
    environment:
      DB_HOSTNAME: immich_postgres
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: immich
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOSTNAME: immich_redis
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://photos.lan, photos.lacny.me
      caddy.reverse_proxy: "{{upstreams 2283}}"
    networks:
      - default
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
                - compute
                - video

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - /mnt/app_data/immich/model-cache:/cache
    environment:
      DB_HOSTNAME: immich_postgres
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: immich
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOSTNAME: immich_redis
    restart: always
    healthcheck:
      disable: false
    labels:
      kuma.__docker: ""
      autoheal: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  redis:
    container_name: immich_redis
    image: docker.io/redis:6.2-alpine
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    labels:
      kuma.__docker: ""
      autoheal: true

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ./postgres:/var/lib/postgresql/data
    restart: always
    labels:
      kuma.__docker: ""
      autoheal: true
    
