name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - /mnt/immich:/usr/src/app/upload
      - /mnt/media/photos:/mnt/photos:ro
    environment:
      DB_HOSTNAME: immich_postgres
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: immich
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOSTNAME: immich_redis
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://photos.lan, photos.lacny.me
      caddy.reverse_proxy: "{{upstreams 2283}}"
    networks:
      - default
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
                - compute
                - video

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - /mnt/app_data/immich/model-cache:/cache
    environment:
      DB_HOSTNAME: immich_postgres
      DB_USERNAME: ${DB_USERNAME}
      DB_DATABASE_NAME: immich
      DB_PASSWORD: ${DB_PASSWORD}
      REDIS_HOSTNAME: immich_redis
    restart: always
    healthcheck:
      disable: false
    labels:
      kuma.__docker: ""
      autoheal: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    labels:
      kuma.__docker: ""
      autoheal: true

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    volumes:
      # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
      - ./postgres:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always      
    labels:
      kuma.__docker: ""
      autoheal: true