services:
  alloy:
    restart: unless-stopped
    container_name: alloy
    image: grafana/alloy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/shared_configs/grafana/config.alloy:/etc/alloy/config.alloy
    ports:
      - "12345:12345"
    environment:
      - LOKI_URL=${LOKI_URL:-https://loki.lacny.me}
      - PROMETHEUS_URL=${PROMETHEUS_URL:-https://prometheus.lacny.me}
      - HOSTNAME=${ALLOY_HOSTNAME:-docker-host}
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_CLEANUP: "true" 
      WATCHTOWER_POLL_INTERVAL: 30
      WATCHTOWER_NOTIFICATIONS: "shoutrrr"
      WATCHTOWER_NOTIFICATION_URL: "${WATCHTOWER_NOTIFICATION_URL}"

  autoheal:
    container_name: autoheal
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal
      AUTOHEAL_START_PERIOD: 30
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock