services:
  broker:
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - /mnt/shared_configs/paperless/redisdata:/data
    labels:
      kuma.__docker: ""
      
  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - /mnt/shared_configs/paperless/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    labels:
      kuma.__docker: ""
      
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.17.1
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8010:8000"
    volumes:
      - /mnt/shared_configs/paperless/data:/usr/src/paperless/data
      - /mnt/media/paperless/media:/usr/src/paperless/media
      - /mnt/media/paperless/export:/usr/src/paperless/export
      - /mnt/media/paperless/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
      USERMAP_UID: 0
      USERMAP_GID: 0
# Additional languages to install for text recognition, separated by a
# whitespace. Note that this is
# different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines the
# language used for OCR.
# The container installs English, German, Italian, Spanish and French by
# default.
# See https://packages.debian.org/search?keywords=tesseract-ocr-&searchon=names&suite=buster
# for available languages.
      # PAPERLESS_OCR_LANGUAGES: tur ces
# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
      #PAPERLESS_SECRET_KEY: change-me
# Use this variable to set a timezone for the Paperless Docker containers. If not specified, defaults to UTC.
      PAPERLESS_TIME_ZONE: Europe/Bratislava
# The default language to use for OCR. Set this to the language most of your
# documents are written in.
      #PAPERLESS_OCR_LANGUAGE: eng
      PAPERLESS_URL: https://documents.lacny.me
      PAPERLESS_CONSUMER_POLLING: 10
      PAPERLESS_TASK_WORKERS: 2
      PAPERLESS_THREADS_PER_WORKER: 3
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://documents.lan, documents.lacny.me
      caddy.reverse_proxy: "{{upstreams 8000}}"
    networks:
      - default