# Double Take
# Learn more at https://github.com/jakowenko/double-take/#configuration# 

mqtt:
  host: mqtt
  port: 1883
  user: !secret mqtt_user
  password: !secret mqtt_pass
  stats_interval: 60

frigate:
  url: http://frigate:5000
  update_sub_labels: true
  image:
    height: 1000
  cameras:
    - 'garaz-dnu'
    - 'vchod'
    - 'vzadu'
    - 'garaz-von'
    
detectors:
  compreface:
    url: http://ts-compreface
    key: !secret compreface_key
    

# ui settings (default: shown below)
ui:

  pagination:
    # number of results per page
    limit: 100

  thumbnails:
    # value between 0-100
    quality: 95
    # value in pixels
    width: 500
