# Double Take
# Learn more at https://github.com/jakowenko/double-take/#configuration#
mqtt:
  host: mqtt.local
  port: 8883
  user: !secret mqtt_user
  password: !secret mqtt_pass
  stats_interval: 60

frigate:
  url: http://frigate:5000
  update_sub_labels: true
  
detectors:
  deepstack:
    url: http://deepstack:5000
    key: !secret deepstack_key
  compreface:
    url: http://compreface-fe
    key: !secret compreface_key