services:
  komga:
    image: gotson/komga
    volumes:
      - /mnt/media/comics:/data
      - /mnt/media/downloads/komga:/downloads
      - /mnt/shared_configs/komga:/config
    ports:
      - 5002:25600
    restart: unless-stopped
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://comics.lan, http://komga.lan
      caddy.reverse_proxy: "{{upstreams 25600}}"
      dockflare.enable: true
      dockflare.hostname: comics.notavailable.uk
      dockflare.service: http://comics.lan
      dockflare.httpHostHeader: comics.lan
    networks:
      - caddy
networks:
  caddy:
    external: true