services:
  komga:
    image: gotson/komga
    volumes:
      - /mnt/media/comics:/data
      - /mnt/media/downloads/komga:/downloads
      - /mnt/shared_configs/komga:/config
    ports:
      - 5002:25600
    restart: unless-stopped
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://comics.lan, http://komga.lan, comics.lacny.me, komga.lacny.me
      caddy.reverse_proxy: "{{upstreams 25600}}"
      dockflare.enable: true
      dockflare.hostname: comics.notavailable.uk
      dockflare.service: https://comics.lacny.me
      dockflare.httpHostHeader: comics.lacny.me