services:
  caddy-agent:
    image: mcsdodo/caddy-agent
    container_name: caddy-agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CADDY_URL=http://${CADDY_SERVER_IP}:2020
      - AGENT_ID=omada
      - DOCKER_LABEL_PREFIX=caddy
      - HOST_IP=${OMADA_IP}
      - LOG_LEVEL=debug
      - SNIPPET_SOURCES=http://${INFRA_IP}:8567
