services:
  caddy:
    container_name: caddy
    # image: lucaslorentz/caddy-docker-proxy:latest
    image: dodo/caddy:cloudflare_w_docker_proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "2019:2019"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - TZ=Europe/Bratislava
      - CADDY_INGRESS_NETWORKS=caddy
      - CLOUDFLARE_ZONE_TOKEN=${CF_API_TOKEN}
      - CF_ZONE_ID_LACNY_ME=${CF_ZONE_ID_LACNY_ME}
    networks:
      caddy:
      macvlan0:
        ipv4_address: 192.168.0.21
      
    labels:
      caddy_01: http://*.lan
      caddy_01.reverse_proxy: "192.168.0.22:80"
      caddy_02: "*.lacny.me"
      caddy_02.reverse_proxy: "192.168.0.22:80"
      caddy_03: ":2020"
      caddy_03.reverse_proxy: "localhost:2019"
      caddy_03.reverse_proxy.header_up: "Host localhost:2019"
      autoheal: true
      
  webserver:
    container_name: webserver
    image: hashicorp/http-echo
    environment:
      - ECHO_TEXT=${WEBSERVER_DOMAIN:-http://webserver.lan}
    command: [
      "-listen=:80",
      "-text=${ECHO_TEXT}"
    ]      
    labels: 
      caddy_0: ${WEBSERVER_DOMAIN:-http://webserver.lan}, app.lacny.me
      caddy_0.reverse_proxy: "{{upstreams 80}}"
    networks:
      - caddy
      
  caddy-config:
    container_name: caddy-config
    image: traefik/whoami:latest
    networks:
      - caddy
    restart: always
    ports: 
      - "8121:80"
    labels:
      #### Global Settings ####
      caddy_0.email: "${EMAIL}"
      caddy_0.auto_https: prefer_wildcard

      #### Snippets ####
      # Get wildcard certificate
      caddy_1: (wildcard)
      caddy_1.tls.dns: "cloudflare ${CF_API_TOKEN}"
      caddy_1.tls.resolvers: 1.1.1.1 1.0.0.1
      caddy_1.handle.abort: ""
      # caddy_1.tls.ca: https://acme-staging-v02.api.letsencrypt.org/directory

      # Skip TLS verify for backend with self-signed HTTPS
      caddy_3: (https)
      caddy_3.transport: http
      caddy_3.transport.tls: ""
      caddy_3.transport.tls_insecure_skip_verify: ""

      ## Setup wildcard sites
      caddy_10: "*.lacny.me"
      caddy_10.import: wildcard
      
      caddy_11: "*.notavailable.uk"
      caddy_11.import: wildcard

      caddy_111: http://zigbee2mqtt.lan, zigbee2mqtt.lacny.me
      caddy_111.reverse_proxy: 192.168.0.114:8080

      caddy_112: http://zwave-js-ui.lan, zwave-js-ui.lacny.me
      caddy_112.reverse_proxy: 192.168.0.237:8091

      caddy_113: http://nvr.lan, nvr.lacny.me
      caddy_113.reverse_proxy: 192.168.0.10

      caddy_114: http://nvo.lan
      caddy_114.reverse_proxy: 192.168.0.15

  caddy-agent:
    container_name: caddy-agent
    image: mcsdodo/caddy-agent:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - SNIPPET_API_PORT=8567
      - LOG_LEVEL=INFO
      - CONFIG_PUSH_ENABLED=false
    ports:
      - "8567:8567"


networks:
  caddy:
    name: caddy
  macvlan0:
    name: macvlan0
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
        - subnet: ${MACVLAN_SUBNET:-192.168.0.0/24}
          gateway: ${MACVLAN_GATEWAY:-192.168.0.1}
volumes:
  caddy_data:
  caddy_config: