services:
  caddy-agent:
    image: mcsdodo/caddy-agent
    container_name: caddy-agent
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CADDY_URL=http://192.168.0.21:2020
      - AGENT_ID=big-ai
      - DOCKER_LABEL_PREFIX=caddy
      - HOST_IP=192.168.0.115

  webserver:
    container_name: webserver
    image: hashicorp/http-echo
    environment:
      - ECHO_TEXT=${WEBSERVER_DOMAIN}
    command: [
      "-listen=:80",
      "-text=${ECHO_TEXT}"
    ]
    ports:
      - "8180:80"
    labels:
      caddy: agent-remote.lacny.me
      caddy.reverse_proxy: "{{upstreams 80}}"
