services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    volumes:
      - /mnt/shared_configs/sabnzbd:/config
      - /mnt/media/downloads/sabnzbd:/downloads #optional
    ports:
      - 5003:8080
    restart: unless-stopped
    labels:
      kuma.__docker: ""
     
  mylar3:
    image: lscr.io/linuxserver/mylar3:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Bratislava
    volumes:
      - /mnt/shared_configs/mylar3:/config
      - /mnt/media/comics:/comics
      - /mnt/downloads/comics:/downloads
      - /mnt/downloads/sabnzbd:/sabnzbddownloads
    ports:
      - 5001:8090
    restart: unless-stopped
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy: http://mylar.lan
      caddy.reverse_proxy: "{{upstreams 8090}}"
    networks:
      - caddy
      - default

  sonarr:
    image: 'linuxserver/sonarr:latest'
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/shared_configs/sonarr:/config # config Folder
      - /mnt/media/tvshows:/tvshows #data Folder  
      - /mnt/media/downloads:/downloads # download folder
    ports:
      - 8989:8989
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy_0: http://series.lan, http://sonarr.lan
      caddy_0.reverse_proxy: "{{upstreams 8989}}"

    networks:
      - caddy
      - default
      
  radarr:
    image: 'linuxserver/radarr:latest'
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/shared_configs/radarr:/config # config files
      - /mnt/media/movies:/movies # movies folder
      - /mnt/media/downloads:/downloads # download folder
    ports:
      - 7878:7878      
    labels:
      kuma.__docker: ""
      autoheal: true
      caddy_0: http://movies.lan, http://radarr.lan
      caddy_0.reverse_proxy: "{{upstreams 7878}}"
    networks:
      - caddy
      - default
      
  overseerr:
    image: sctx/overseerr:latest
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    ports:
      - 5055:5055
    volumes:
      - /mnt/shared_configs/overseerr/config:/app/config
    restart: unless-stopped
    labels:
      kuma.__docker: ""     
      autoheal: true
      caddy_0: http://overseerr.lan, http://requests.lan
      caddy_0.reverse_proxy: "{{upstreams 5055}}"
    networks:
      - caddy
      - default

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    volumes:
      - /mnt/shared_configs/jellyseerr/config:/app/config
    restart: unless-stopped
    networks:
      - caddy
      - default
    labels:
      autoheal: true
      caddy_0: http://jellyseerr.lan
      caddy_0.reverse_proxy: "{{upstreams 5055}}"      
      
  # scheduled-restarts:
  #   image: docker:cli
  #   restart: unless-stopped
  #   volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
  #   entrypoint: ["/bin/sh","-c"]
  #   command:
  #     - |
  #       while true; do
  #         if [ "$$(date +'%H:%M')" = '02:00' ]; then
  #           docker restart arr-deluge-1
  #           docker restart arr-radarr-1
  #           docker restart arr-bazarr-1
  #           docker restart arr-qbittorrent-1
  #           docker restart arr-prowlarr-1
  #           docker restart arr-sonarr-1
  #         fi
  #         sleep 60
  #       done

networks:
  caddy:
    external: true