tls:
  enabled: true

detectors:
  coral:
    type: edgetpu
    device: usb
  # deepstack:
  #   api_url: http://ts-codeprojectai:32168/v1/vision/detection
  #   type: deepstack
  #   api_timeout: 0.1 #seconds
mqtt:
  host: mqtt.lan
  port: 1883
  user: '{FRIGATE_MQTT_USER}'
  password: '{FRIGATE_MQTT_PASSWORD}'
  stats_interval: 60
  topic_prefix: frigate
  client_id: frigate

ffmpeg:
  hwaccel_args: preset-vaapi
  output_args:
    record: preset-record-generic-audio-aac

genai:
  enabled: false
  provider: gemini
  api_key: '{FRIGATE_GEMINI_API_KEY}'
  model: gemini-2.5-flash
  object_prompts:
    car: Observe the primary vehicle in these images. Focus on its movement, 
      direction, or purpose (e.g., parking, approaching, circling). If it's a 
      delivery vehicle, mention the company.

detect:
  fps: 5
  # height: 720
  enabled: true

# Configuration for the jpg snapshots written to the clips directory for each tracked object
snapshots:
  enabled: true
  bounding_box: false
  crop: false
  quality: 100

record:
  enabled: true
  retain:
    days: 7
    mode: motion
  alerts:
    pre_capture: 25
    post_capture: 35
    retain:
      days: 21
      mode: motion
  detections:
    pre_capture: 25
    post_capture: 35
    retain:
      days: 21
      mode: motion

objects:
  track:
    - person
    - dog
    - cat
    - horse
go2rtc:
  streams:
    garaz-dnu:
      - rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=4&subtype=0
    garaz-dnu_sub:
      - ffmpeg:garaz-dnu#video=h264#width=1280#height=720#hardware=vaapi
    vchod:
      - rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=2&subtype=0
    vchod_sub:
      - ffmpeg:vchod#video=h264#width=1280#height=720#hardware=vaapi
    vzadu:
      - rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=3&subtype=0
    vzadu_sub:
      - ffmpeg:vzadu#video=h264#width=1280#height=720#hardware=vaapi
    garaz-von:
      - rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=1&subtype=0
    garaz-von_sub:
      - ffmpeg:garaz-von#video=h264#width=1280#height=720#hardware=vaapi
    vratnik:
      - echo:/config/fix_vto_codecs.sh 
        rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.15:554/cam/realmonitor?channel=1&subtype=0
      - echo:/config/fix_vto_codecs.sh 
        rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.15:554/cam/realmonitor?channel=1&subtype=0&unicast=true#backchannel=1
      - rtsp://127.0.0.1:8554/vratnik_hd?audio=aac
    vratnik_hd:
      - echo:/config/fix_vto_codecs.sh 
        rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.15:554/cam/realmonitor?channel=1&subtype=1#backchannel=0
      - rtsp://127.0.0.1:8554/vratnik?audio=pcma&backchannel=0
  webrtc:
    candidates:
      - 192.168.0.235:8555
      - stun:8555
    filters:
      candidates: []         
cameras:
  vratnik:
    mqtt:
      quality: 100
      height: 500
      crop: true
    ffmpeg:
      path: '5.0'
      inputs:
        - path: rtsp://127.0.0.1:8554/vratnik?video=copy&backchannel=0
          input_args: preset-rtsp-restream-low-latency
          roles:
            - detect
        - path: rtsp://127.0.0.1:8554/vratnik_hd
          input_args: preset-rtsp-restream-low-latency
          roles:
            - record
      output_args:
        record: preset-record-generic-audio-copy

    motion:
      mask:
        - 0.286,0.915,0.001,0.919,0,1,0.285,1
        - 0.317,0,0.343,0.368,1,0.331,1,0
      threshold: 30
      contour_area: 30
      improve_contrast: true
    objects:
      track:
        - person
      mask:
        - 0.342,0.636,0.649,0.708,0.966,1,1,1,1,0.331,0.343,0.368
        - 0.04,0.321,0.038,0.692,0.219,0.64,0.219,0.348
      filters:
        person:
          min_area: 0.1
    zones:
      vratnik_required_zone:
        coordinates: 0,0.395,1,0.385,0.999,0.998,0.002,0.998
        inertia: 3
        loitering_time: 0
        objects: person
        filters:
          person:
            min_area: 0.05
      vratnik_alert_zone:
        coordinates: 0,1,0.001,0.648,0.417,0.749,0.745,0.814,0.949,0.997
        loitering_time: 0
    review:
      alerts:
        required_zones: vratnik_alert_zone
      detections:
        required_zones: vratnik_required_zone
  garaz-dnu:
    mqtt:
      quality: 100
      height: 500
      crop: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=4&subtype=0
          roles:
            - record
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=4&subtype=0
          roles:
            - detect
    motion:
      mask: 0.699,0.248,0.771,0.386,1,0.406,1,0,0.714,0
      threshold: 30
      contour_area: 20
      improve_contrast: true
    face_recognition:
      enabled: true
    objects: {}
  vchod:
    genai:
      enabled: true
    mqtt:
      quality: 100
      height: 1080
      crop: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=2&subtype=2
          roles:
            - detect
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=2&subtype=0
          roles:
            - record
    motion:
      mask:
        - 0.124,0.121,0.139,0.245,0.223,0.176,0.213,0.059
        - 0.605,0,0.79,0.152,1,0.364,1,0
        - 0.4,0.228,0.499,0.163,0.583,0.225,0.405,0.378
      threshold: 60
      contour_area: 40
      improve_contrast: true
    objects:
      track:
        - person
        - car
        - dog
        - cat
        - horse
      mask: 0.124,0.121,0.136,0.234,0.223,0.176,0.21,0.062
    zones:
      vchod_required_zone:
        coordinates: 
          0.102,0.637,0.225,0.997,0.746,0.997,0.844,0.588,0.552,0.223,0.491,0.058,0.394,0.004,0.01,0.188
        loitering_time: 0
        inertia: 3
        filters:
          person:
            min_area: 0.01
      vchod_alert_zone:
        coordinates: 
          0,0.995,0.718,0.991,0.813,0.642,0.41,0.337,0.406,0.212,0.393,0.008,0.001,0.197
        loitering_time: 0
        inertia: 3
    review:
      alerts:
        required_zones: vchod_alert_zone
      detections:
        required_zones: vchod_required_zone
  vzadu:
    mqtt:
      quality: 100
      height: 720
      crop: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=3&subtype=2
          roles:
            - detect
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=3&subtype=0
          roles:
            - record
    objects:
      mask: -0.001,0.001,0,0.123,0.15,0.002
    motion:
      mask:
        - 0.368,0,0.496,0.047,0.603,0.094,0.713,0.16,0.914,0.327,0.963,0.094,0.98,0
        - 0,0.001,0.051,0.001,0.034,0.268,0.036,0.449,0.064,0.849,0,0.708
      threshold: 50
      contour_area: 20
      improve_contrast: true
    face_recognition:
      enabled: true
    zones:
      vzadu_required_zone:
        coordinates: 
          0.112,1,0.062,0.269,0.066,0.099,0.204,0,0.306,0.004,0.493,0.056,0.774,0.215,1,0.218,1,1
        loitering_time: 0
  garaz-von:
    genai:
      enabled: true
    mqtt:
      quality: 100
      height: 720
      crop: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=1&subtype=2
          roles:
            - detect
        - path: 
            rtsp://{FRIGATE_RTSP_CREDENTIALS}@192.168.0.10:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record
    objects:
      track:
        - person
        - car
        - dog
        - cat
        - horse
    motion:
      threshold: 60
      contour_area: 50
      improve_contrast: true
      mask:
        - 0.971,0.101,0.68,0.098,0.679,0.03,0.97,0.03
        - 0,0.375,0.16,0.269,0.316,0.193,0.586,0.123,0.808,0.125,1,0.158,1,0,-0.001,0
        - 0.826,0.581,0.52,0.311,0.586,0.185,0.868,0.394
        - 0.168,0.212,0.346,0.484,0.594,0.25,0.465,0.097,0.305,0.219,0.19,0.128
    zones:
      garaz_von_required_zone:
        coordinates: 
          0.233,1,0.122,0.65,0.11,0.599,0.548,0.305,0.83,0.539,1,0.178,1,0.256,1,1
        loitering_time: 0
        inertia: 3
        filters:
          person:
            min_area: 0.01
    review:
      alerts:
        required_zones: garaz_von_required_zone
      detections:
        required_zones: garaz_von_required_zone
version: 0.16-0
semantic_search:
  enabled: true
  reindex: false
  model_size: large

telemetry:
  stats:
    network_bandwidth: true
face_recognition:
  enabled: true
  model_size: large